<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="login-box">
  <form action="/signup-submission" method="POST">
    <div class="form" style="display: flex; flex-direction: column; ">
      <input
        type="text"
        name="user_name"
        id="user_name_id"
        placeholder="Type User Name...."
        class="text-box login-items"
        required
      />
      <input
        type="password"
        name="password"
        id="password_id"
        placeholder="Type Password...."
        class="text-box login-items"
        required
      />
      <button type="submit" class="login-items login-button">
        {{title}}
      </button>
    </div>
  </form>
  <a href="/{{link}}" class="singup-button">{{link}}</a>
</div>